/* bejelentkezes */
#bejelentkezes-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  column-gap: 100px;
}


fieldset {
  background-color: #eeeec3;
  border: #436850 5px solid;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  width: 500px;
}

#bejelentkezes-form legend {
  font-weight: bold;
  background-color: #436850;
  color: #FBFADA; /* betűszín */
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 30px;
  width: 200px
}

input[type="submit"], input[type="reset"] {
  background-color: #436850;
  color: #FBFADA;
  border: none;
  text-align: center;
  padding: 20px;
}

fieldset input[type="submit"], input[type="reset"] {
  width: 200px;
}

fieldset input {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 5px;
  width: 50%;
  border-radius: 30px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #314b3a;
}

input[type="submit"]:active, input[type="reset"]:active {
  background-color: #223428;
}

@media screen and (max-width: 952px) {
  #bejelentkezes-form {
    flex-direction: column;
  }
  form fieldset {
    width: 300px;
  }
  form {
    margin: 30px 0;
  }

  fieldset {
    width: max-content;
  }
}
/* bejelentkezes.html */
