#main-index img[alt="tigris xd"] {
  object-fit: cover;
  height: 100vh;
  max-width: 50%;
}

@media screen and (max-width: 952px) {
  body {
    margin-top: 80px;
  }
  #main-index {
    display: flex;
    flex-direction: column;
  }
  #main-index img[alt="tigris xd"] {
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  h1 {
    padding: 10px;
  }
}

#main-index {
  height: 100%;
  display: flex;
  padding: 0;
}

#index-article {
  text-align: justify;
  margin: 10px;
}

.icon-kontenor {
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.icon {
  height: 60px;
  padding: 10px;
}

#google-terkep {
  height: 35%;
  width: 100%;
}

