form {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  column-gap: 100px;
  margin-bottom: 20px;
}

fieldset label {
  padding-top: 20px;
}

fieldset h2 {
  text-align: center;
}

fieldset img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
fieldset:first-child {
  height: min-content;
}

fieldset {
  display: flex;
  flex-direction: column;
  background-color: #eeeec3;
  border: #436850 5px solid;
  border-radius: 30px;
  width: 500px;
  padding: 30px;
}

form legend {
  text-align: center;
  font-weight: bold;
  background-color: #436850;
  color: #FBFADA;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 30px;
  width: 40%;
}

textarea {
  margin-bottom: 10px;
}
hr {
  width: 100%;
}

input[type="submit"], input[type="reset"] {
  background-color: #436850;
  margin: 30px auto 0;
  width: 50%;
  color: #FBFADA;
  border: none;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

form fieldset:last-child {
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 100px;
}

table * {
  padding: 6px;
}

table td, table th {
  border-right: 5px solid #253a2c;
}

table td:last-child, table th:last-child {
  border: none;
}

table th {
  background-color: #436850;
  color: #FBFADA;
  border-bottom: 5px solid #253a2c !important;
}

table td {
  padding: 5px;
  background-color: #FBFADA;
}

table tr:last-child {
  border-bottom: 5px solid #253a2c;
}
textarea {
  height: 60px;
}
input {
  padding: 5px;
  border-radius: 30px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #314b3a;
}

input[type="submit"]:active, input[type="reset"]:active {
  background-color: #223428;
}

@media screen and (max-width: 952px) {
  form {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    margin-bottom: 20px;
  }
  fieldset {
    width: 80%;
    margin: 0 0 20px;
  }
  table * {
    padding: 0;
  }
  form legend {
    width: max-content;
  }
}
