form {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  column-gap: 100px;
  margin-bottom: 20px;
}

fieldset label {
  padding-top: 20px;
}

.jegyek {
  display: flex;
  justify-content: space-between;
}

fieldset h2 {
  text-align: center;
}

fieldset img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eeeec3;
  border: #436850 5px solid;
  border-radius: 30px;
  width: 500px;
  padding: 30px;
}

form legend {
  text-align: center;
  font-weight: bold;
  background-color: #436850;
  color: #FBFADA;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 30px;
  width: 40%;
}

form fieldset:last-child {
  overflow: auto;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 100px;
}

table * {
  padding: 6px;
}

table td, table th {
  border-right: 5px solid #253a2c;
}

table td:last-child, table th:last-child {
  border: none;
}

table th {
  background-color: #436850;
  color: #FBFADA;
  border-bottom: 5px solid #253a2c !important;
}

table td {
  padding: 5px;
  background-color: #FBFADA;
}

table tr:last-child {
  border-bottom: 5px solid #253a2c;
}

@media screen and (max-width: 952px) {
  form {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    margin-bottom: 20px;
  }
  fieldset {
    width: 80%;
    margin: 0 0 20px;
  }
  table * {
    padding: 0;
  }
  form legend {
    width: max-content;
  }
}
