/* body */
body {
  color: black;
  font-size: larger;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", serif;
  background-color: #FBFADA;
}
h1 {
  text-align: center;
}
main {
  padding-top: 50px;
}
/* body */
/* nav menu */
nav { /* navon belüli szövegek rendezése szerint */
  background-color: #436850;
  padding: 15px;
  border-bottom:  5px solid #1a4f3d;
  position: fixed;
  width: 100%;
}
nav a {
  color: #FBFADA; /* betűszín */
  text-decoration: none; /* el vegye az aláhúzást */
  margin: 0 20px;
  padding: 10px; /* több hely belülről */
}

nav a.active { /* ha az oldalon van */
  background-color: #ADBC9F;
  color: #436850;
}
/* nav menu */

/* index.html */
#main-index img[alt="tigris xd"] {
  min-height: 690px;
  min-width: 50%;
  object-fit: cover;
}

section {
  min-height: 100%;
}

#main-index  {
  min-width: 50%;
  display: flex;
}
#index-article {
  text-align: justify;
  margin: 10px;
}

.icon-kontenor {
  height: 100px;
  text-align: center;
}

.icon {
  height: 60px;
  padding: 10px;
}

#google-terkep {
  width: 100%;
  height: 300px;
}
/* index.html */

/* allat.html */
#main-allat {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
#main-allat section {
  color: black;
  width: 1000px;
  background-color: #E8E4D9;
  border:  5px solid #383228;
  padding: 10px;
}

#main-allat img {
  width: 350px;
  margin-right: 10px;
  margin-left: 10px;
}
#main-allat section:nth-child(odd) > img {
  float: right;
}
#main-allat section:nth-child(even) > img {
  float: left;
}
#main-allat section:nth-child(even) h2 {
  letter-spacing: 5px;
  text-align: left;
}
#main-allat section:nth-child(odd) h2 {
  letter-spacing: 10px;
  text-align: right;
}

#main-allat section:nth-child(odd) {
  margin: 20px 30px 20px auto;
}

#main-allat section:nth-child(even) {
  margin: 20px auto 20px 30px;
}
caption {
  font-weight: bold;
}
#allatok-tablazat th {
  background-color: #65a3ff;
}
#allatok-tablazat tbody tr:nth-of-type(odd) {
  background-color: #e4e9ff;
}

#allatok-tablazat tbody tr:nth-of-type(even) {
  background-color: #c5dafd;
}

#allatok-tablazat tbody tr:hover, th:hover {
  background-color: #ebffe9;
}

#allatok-tablazat {
  width: 50%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 40px;
}
#allatok-tablazat tr {
  border: #000000 2px solid;
  border-collapse: collapse;
}
/* allat.html */

/* bejelentkezes */
fieldset {
  border: #436850 5px solid;
  border-radius: 30px;
  text-align: center;
  padding-top: 20px;
}
form fieldset input[id="username"] {
  margin-right: 80px;
}

form fieldset input[type="submit"] {
  background-color: #436850;
  color: #FBFADA;
  padding: 20px;
}
form fieldset input {
  margin: 10px 0 10px;
  border: #436850 3px solid;
  padding: 5px;
  border-radius: 30px;
}

#bejelentkezes-form legend {
  margin-right: auto;
  margin-left: auto;
  background-color: #436850;
  color: #FBFADA; /* betűszín */
  padding: 20px;
  border-radius: 30px;
}
#bejelentkezes-form {
  padding:100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* bejelentkezes */

/* footer */
footer {
  border-top:  5px solid #12372A;
  background-color: #436850;
  text-align: center;
  margin: 0;
  padding: 10px;

  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #FBFADA;
}

footer a:hover {
  text-decoration: #FBFADA underline;
}
/* footer */
