/* body */
nav { /* navon belüli szövegek rendezése szerint */
  background-color: #436850;
  border-bottom:  5px solid #1a4f3d;
  padding: 15px 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  overflow: auto;
}
/* body */

body {
  color: black;
  font-size: larger;
  font-family: "Segoe UI", serif;
  background-color: #FBFADA;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
/* body */

/* nav menu */
nav a {
  color: #FBFADA; /* betűszín */
  text-decoration: none; /* el vegye az aláhúzást */
  padding: 10px; /* több hely belülről */
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

nav a.active { /* ha az oldalon van */
  background-color: #ADBC9F;
  color: #436850;
}
/* nav menu */

@media screen and (max-width: 952px) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
