/* body */
body {
  color: black;
  font-size: larger;
  font-family: "Segoe UI", serif;
  background-color: #FBFADA;
  margin: 0;
  padding: 0;
}
h1 {
  padding-top: 50px;
  text-align: center;
}
main {
  padding-top: 50px;
}
/* body */

/* nav menu */
nav { /* navon belüli szövegek rendezése szerint */
  background-color: #436850;
  padding: 15px;
  border-bottom:  5px solid #1a4f3d;
  top: 0;
  position: fixed;
  width: 100%;
}
nav a {
  color: #FBFADA; /* betűszín */
  text-decoration: none; /* el vegye az aláhúzást */

  margin: 0 20px;
  padding: 10px; /* több hely belülről */
}

nav a.active { /* ha az oldalon van */
  background-color: #ADBC9F;
  color: #436850;
}
/* nav menu */